
@{
    ViewBag.Title = "Errorshow";
    Layout = null;
}
<link href="~/Content/error/errors.css" rel="stylesheet" />
<html>

<head>
</head>

<body>
    <code>
        {--<span>:+500 NOT FOUND++:</span>--}
    </code>


</body>

</html>

